<div class="page-view">
  <h2>Page Text Areas</h2>
  <table>
    <tr>
      <th>Section</th>
      <th>Text</th>
      <th>Apply</th>
    </tr>
    <tr *ngFor="let textarea of textareas">
      <td>{{textarea.name}}</td>
      <td>
        <textarea>{{textarea.savedTemplate}}</textarea>
      </td>
      <td>
        <input class="apply-button" type="button" value="save" (click)="saveTemplate(textarea.id, 'textarea.value')"/>
        <input class="apply-button" type="button" value="apply"/>
      </td>
    </tr>
  </table>
</div>
