table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
    font-size: 10px;
}

textarea {
  resize:vertical;
  max-height:150px;
  width:480px;
}

.apply-button {
   border: 1px outset blue;
   background-color: lightBlue;
   height:40px;
   width:40px;
   cursor:pointer;
}

.apply-button:hover {
   background-color: grey;
   color:white;
}
