<div class="page-view">
  <h2>Page Text Areas</h2>
  <table>
    <tr>
      <th>Section</th>
      <th>Text</th>
      <th>Apply</th>
    </tr>
    <tr *ngFor="let textarea of textareas">
      <td>{{textarea.name}}</td>
      <td>
        <textarea placeholder="Write a template"
        (change)="saveChange(textarea)"
        [(ngModel)]="textarea.text"></textarea>
      </td>
      <td>
        <button class="apply-button" type="button"
        (click)="applyTemplate(textarea)">apply</button>
      </td>
    </tr>
  </table>
</div>
